<template>
    <div class="about-content">
        <h1 class="font-type-1">About Me</h1>
        <div class="about_table">
            <table>
                <tr>
                    <th class="font-type-3 yellow--text text--lighten-1">Name:</th>
                    <td class="font-type-2">Tanvir Ahmad Sohan</td>
                </tr>
                <tr>
                    <th class="font-type-3 yellow--text text--lighten-1">DOB:</th>
                    <td class="font-type-2">December 24, 1992</td>
                </tr>
                <tr>
                    <th class="font-type-3 yellow--text text--lighten-1">Location:</th>
                    <td class="font-type-2">Dhaka, Bangladesh</td>
                </tr>
                <tr>
                    <th class="font-type-3 yellow--text text--lighten-1">ZIP:</th>
                    <td class="font-type-2">1214</td>
                </tr>
                <tr>
                    <th class="font-type-3 yellow--text text--lighten-1">Phone:</th>
                    <td class="font-type-2">+8801534960891</td>
                </tr>
                <tr>
                    <th class="font-type-3 yellow--text text--lighten-1">Email:</th>
                    <td class="font-type-2"><a href="#"><span class="table-link">Reveal</span></a></td>
                </tr>
                <tr>
                    <th class="font-type-3 yellow--text text--lighten-1">Upwork:</th>
                    <td class="font-type-2"><a href="#"><span class="table-link">Click here</span></a></td>
                </tr>
            </table>
        </div>
        <div class="about_info font-type-3">
            <p>Hey, I'm Tanvir Ahmad Sohan. I'm a web developer from Bangladesh.</p>
            <p>I've been building web applications for over 3 years. I've always been drawn to the overlap between front-end and back-end development. I enjoy both aspects and love building responsive websites from start to finish.</p>
            <p>I'm available for remote work - if you would like to build something together, get in touch maybe?</p>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    @import '@/scss/_variables.scss';
    
    .about-content {
        width: 100%;
        color: $foreground;
        text-align: left;
        padding: 25px;
        font-size: .95rem;
        min-height: 100vh;
    }

    .about_table {
        margin-bottom: 25px;
    }

    .about_table th {
        padding-right: 25px;
    }

    .table-link {
        color: $light-blue-accent-1;
        font-weight: 400;
    }

    /* sm */
    @media only screen and (min-width: 600px) {
        .about-content {
            padding: 25px 25px;
            font-size: 1.1rem;
            letter-spacing: 1px;
        }
    }

    /* md */
    @media only screen and (min-width: 960px) {
        .about-content {
            padding: 25px 50px;
            font-size: 1.2rem;
            letter-spacing: 1px;
        }
    }

    /* lg */
    @media only screen and (min-width: 1264px) {
        .about-content {
            padding: 25px 75px;
            font-size: 1.3rem;
            letter-spacing: 1px;
        }
    }
</style>

<script>
    export default {
        name: 'about'
    }
</script>
