<template>
    <div class="experience-content">
        <h1 class="font-type-1">Experience</h1>
        <div class="job-background mb-5">
            <h3 class="font-type-2 yellow--text text--lighten-1">Job Background</h3>
            <v-card class="transparent hidden-xs-only" flat>
                <v-timeline align-center :dense="$vuetify.breakpoint.xs">
                    <v-timeline-item v-for="(job, i) in jobs" :key="i" :color="job.color" small fill-dot>
                        <template v-slot:opposite>
                            <span class="font-type-3" v-text="job.year"></span>
                        </template>
                        <v-card :color="job.color" class="black--text" small>
                            <v-card-title class="font-type-2">{{job.name}}</v-card-title>
                            <v-card-text class="font-type-3">
                                <span class="black--text">{{job.post}}</span><br>
                            </v-card-text>
                        </v-card>
                    </v-timeline-item>
                </v-timeline>
            </v-card>
            <ul class="job-list hidden-sm-and-up">
                <template v-for="(job, index) in jobs">
                    <li class="no-style" v-bind:key="index">
                        <h3 class="font-type-2 light-blue--text text--accent-1">{{job.name}}</h3>
                        <h4 class="font-type-3 white--text">{{job.post}}</h4>
                        <h4 class="font-type-3 white--text">Joined: {{job.year}}</h4>
                    </li>
                </template>
            </ul>
        </div>
        <div class="educational-background mb-5">
            <h3 class="font-type-2 yellow--text text--lighten-1">Educational Background</h3>
            <v-card class="transparent hidden-xs-only" flat>
                <v-timeline align-center :dense="$vuetify.breakpoint.xs" :reverse="$vuetify.breakpoint.smAndUp">
                    <v-timeline-item v-for="(edu, i) in education" :key="i" :color="edu.color" small fill-dot>
                        <template v-slot:opposite>
                            <span class="font-type-3" v-text="edu.year"></span>
                        </template>
                        <v-card :color="edu.color" class="black--text" small>
                            <v-card-title class="font-type-2">{{edu.name}}</v-card-title>
                            <v-card-text class="font-type-3">
                                <span class="black--text">{{edu.level}}</span><br>
                            </v-card-text>
                        </v-card>
                    </v-timeline-item>
                </v-timeline>
            </v-card>
            <ul class="education-list hidden-sm-and-up">
                <template v-for="(edu, index) in education">
                    <li class="no-style" v-bind:key="index">
                        <h3 class="font-type-2 light-blue--text text--accent-1">{{edu.name}}</h3>
                        <h4 class="font-type-3 white--text">{{edu.level}}</h4>
                        <h4 class="font-type-3 white--text">Joined: {{edu.year}}</h4>
                    </li>
                </template>
            </ul>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    @import '@/scss/_variables.scss';

    .theme--light.v-card {
        color: $foreground;
    }

    .transparent {
        background-color: transparent;
    }

    .experience-content {
        width: 100%;
        color: $foreground;
        text-align: left;
        padding: 25px;
        font-size: .95rem;
        min-height: 100vh;
    }

    ul.education-list {
        padding: 0;
        margin: 0;
    }

    ul.job-list {
        padding: 0;
        margin: 0;
    }

    li.no-style {
        list-style-type: none;
        margin: 15px 0;
    }

    @media only screen and (min-width: 600px) {
        .experience-content {
            padding: 25px 25px;
            font-size: 1rem;
            letter-spacing: 1px;
        }

        .v-card__title {
            word-break: normal !important;
        }
    }

    @media only screen and (min-width: 960px) {
        .experience-content {
            padding: 25px 50px;
            font-size: 1.2rem;
            letter-spacing: 1px;
        }
    }

    @media only screen and (min-width: 1264px) {
        .experience-content {
            padding: 25px 75px;
            font-size: 1.3rem;
            letter-spacing: 1px;
        }
    }
</style>

<script>
    export default {
        name: 'experience',
        data: () => ({
            jobs: [
                {
                    color: 'light-blue accent-1',
                    year: '2019',
                    name: 'Upwork',
                    post: 'Freelance Developer',
                    icon: 'mdi-briefcase'
                },
                {
                    color: 'yellow lighten-1',
                    font_color: 'black--text text--lighten-1',
                    year: '2017',
                    name: 'Savers Communications',
                    post: 'Remote Developer',
                    icon: 'mdi-briefcase'
                },
                {
                    color: 'light-blue accent-1',
                    font_color: 'black--text text--lighten-1',
                    year: '2015',
                    name: 'Aan Nahl Software Limited',
                    post: 'Web Developer',
                    icon: 'mdi-briefcase'
                }
            ],
            education: [
                {
                    color: 'yellow lighten-1',
                    year: 2009,
                    name: 'Shahjalal University of Science and Technology',
                    level: 'Computer Science and Engineering'
                },
                {
                    color: 'light-blue accent-1',
                    year: 2007,
                    name: 'BSNM Rifles Public College',
                    level: 'Higher Secondary Certificate'
                },
                {
                    color: 'yellow lighten-1',
                    year: 2002,
                    name: 'Ideal School and College',
                    level: 'Secondary School Certificate'
                },
                {
                    color: 'light-blue accent-1',
                    year: 1998,
                    name: 'Motijheel Government Boys High School',
                    level: 'Primary Education'
                },
                {
                    color: 'yellow lighten-1',
                    year: 1996,
                    name: 'Mugdapara Kazi Zafar Ahmed High School',
                    level: 'Primary Education'
                }
            ]
        })
    }
</script>
