<template>
    <div class="home-content">
        <v-img :src="dp" :lazy-src="dp_lazy" aspect-ratio="1/1" class="hidden-md-and-up rounded-image">
            <template v-slot:placeholder>
                <v-row class="fill-height ma-0" align="center" justify="center">
                    <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                </v-row>
            </template>
        </v-img>
        <h3 class="font-type-3 greetings">Hello! I am</h3>
        <h1 class="name font-type-1 light-blue--text text--accent-1">Tanvir Ahmad Sohan</h1>
        <h4 class="font-type-2 lang-info">I am a <span class="yellow--text text--lighten-1 typed-text">{{typeValue}}</span><span class="cursor" :class="{'typing': typeStatus}"> </span> developer</h4>
        <div class="buttons">
            <v-btn tile small outlined color="light-blue accent-1"><span class="font-type-3">Download CV <v-icon small>icon-download</v-icon></span></v-btn>
            <div class="buttons-grouped">
                <v-tooltip bottom color="grey darken-4" tile v-for="item in socialLinks" :key="item.url">
                    <template v-slot:activator="{ on }">
                        <v-btn x-small text icon link v-on="on" :href="item.url">
                            <v-icon>{{ item.icon }}</v-icon>
                        </v-btn>
                    </template>
                    <span class="font-type-4 tooltips">{{ item.text }}</span>
                </v-tooltip>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'home',
    data() {
        return {
            dp: require("@/assets/images/tanvirsohan.jpg"),
            dp_lazy: require("@/assets/images/tanvirsohan.thumbnail.jpg"),
            typeValue: '',
            typeStatus: false,
            typeArray: ["Laravel", "Node.js", "Vue.js", "jQuery"],
            typingSpeed: 200,
            erasingSpeed: 100,
            newTextDelay: 2000,
            typeArrayIndex: 0,
            charIndex: 0,
            socialLinks: [
                {url: 'http://upwork.com', icon: 'icon-upwork', text: 'Upwork'},
                {url: 'http://linkedin.com', icon: 'icon-linkedin', text: 'LinkedIn'},
                {url: 'http://github.com', icon: 'icon-github', text: 'Github'},
                {url: 'http://bitbucket.com', icon: 'icon-bitbucket', text: 'Bitbucket'},
                {url: 'http://skype.com', icon: 'icon-skype', text: 'Skype'}
            ]
        }
    },
    methods: {
        typeText() {
            if(this.charIndex < this.typeArray[this.typeArrayIndex].length) {
                if(!this.typeStatus) this.typeStatus = true;
                this.typeValue += this.typeArray[this.typeArrayIndex].charAt(this.charIndex);
                this.charIndex += 1;

                setTimeout(this.typeText, this.typingSpeed);
            }
            else {
                this.typeStatus = false;
                setTimeout(this.eraseText, this.newTextDelay);
            }
        },
        eraseText() {
            if(this.charIndex > 0) {
                if(!this.typeStatus) this.typeStatus = true;

                this.typeValue = this.typeArray[this.typeArrayIndex].substring(0, this.charIndex - 1);
                this.charIndex -= 1;
                setTimeout(this.eraseText, this.erasingSpeed);
            }
            else {
                this.typeStatus = false;
                this.typeArrayIndex += 1;
                if(this.typeArrayIndex >= this.typeArray.length) this.typeArrayIndex = 0;

                setTimeout(this.typeText, this.typingSpeed + 1000);
            }
        }
    },
    created() {
        setTimeout(this.typeText, this.newTextDelay + 200);
    }
}
</script>

<style lang="scss" scoped>
    @import "@/scss/_variables.scss";

    .home-content {
        color: $foreground;
        font-weight: 400;
        width: 100%;
        padding: 25px;
        text-align: center;

        .rounded-image {
            border-radius: 50%;
            margin: 25px auto;
            max-width: 200px;
            border: 2px solid $light-blue-accent-1;
        }

        .greetings {
            letter-spacing: 1px;
            font-size: 1.2rem;
        }

        .name {
            font-size: 2rem !important;
        }

        .lang-info {
            font-size: 1.3rem;
        }

        .cursor {
            display: inline-block;
            margin-left: 3px;
            width: 1px;
            height: 25px;
            background-color: $yellow-lighten-1;
            animation: cursor-blink 1s infinite;

            &.typing {
                animation: none;
            }
        }

        @keyframes cursor-blink {
            49% { background-color: $yellow-lighten-1; }
            50% { background-color: transparent; }
            99% { background-color: transparent; }
        }

        .typed-text {
            font-weight: 400;
        }

        .buttons {
            padding: 25px;

            .buttons-grouped{
                margin-top: 5px;

                a {
                    margin: 5px;
                }
            }
        }
    }

    @media only screen and (min-width: 600px) {
        .home-content {
            padding: 25px 75px;

            .greetings {
                font-size: 1.3rem;
                letter-spacing: 2px;
            }

            .name {
                font-size: 2.5rem !important;
                letter-spacing: 2px;
            }

            .lang-info {
                font-size: 1.5rem;
                letter-spacing: 2px;
            }
        }


    }

    @media only screen and (min-width: 960px) {
        .home-content {
            padding: 25px 125px;
            text-align: left;

            .greetings {
                font-size: 1.4rem;
                letter-spacing: 3px;
            }

            .name {
                font-size: 2.8rem !important;
                letter-spacing: 2px;
            }

            .lang-info {
                font-size: 1.6rem;
                letter-spacing: 3px;
            }

            .buttons {
                padding-left: 0px;

                .buttons-grouped {
                    display: inline-block;
                    margin-left: 10px;
                    margin-top: 0;

                    a {
                        margin-left: 0px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    @media only screen and (min-width: 1264px) {
        .home-content {
            padding: 25px 150px;
            text-align: left;

            .greetings {
                font-size: 1.6rem;
                letter-spacing: 3px;
            }

            .name {
                font-size: 3.2rem !important;
                letter-spacing: 3px;
            }

            .lang-info {
                font-size: 1.8rem;
                letter-spacing: 3px;
            }
        }
    }
</style>
