<template>
    <div class="showcase-content">
        <h1 class="font-type-1">Showcase</h1>
        <v-overlay :value="overlay" z-index="200" opacity="0.75">
            <div class="overlayed_div">
                <v-btn icon @click="overlay = false" class="close-icon">
                    <v-icon>mdi-close</v-icon>
                </v-btn>
                <v-row>
                    <v-col>
                        <v-img :src="current_project.image"></v-img>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col>
                        <h2 class="font-type-2">{{current_project.name}}</h2>
                        <v-spacer></v-spacer>
                        <div class="techs_used">
                            <template v-for="tech in current_project.tags">
                                <v-chip class="my-2 mr-2" small label v-bind:key="tech">
                                    <span class="font-type-3">{{tech}}</span>
                                </v-chip>
                            </template>
                        </div>
                        <v-spacer></v-spacer>
                        <div class="font-type-3 my-2">
                            Website: <a :href="current_project.website">{{current_project.website}}</a><br>
                            Source: <span v-if="current_project.source"><a :href="current_project.source">{{current_project.source}}</a></span><span v-else>Private</span><br>
                        </div>
                        <div class="font-type-2 my-2" v-html="current_project.description"></div>
                    </v-col>
                </v-row>
            </div>
        </v-overlay>
        <v-row>
            <v-col>
                <div class="filters">
                    <template v-for="tag in all_tags">
                        <v-chip class="my-2 mr-2 filter" small label dark v-on:click="set_filter(tag)" :class="{'active-chip': current_filter === tag}" v-bind:key="tag">
                            <span class="font-type-3" v-bind:class="{ active: current_filter === tag }">{{tag}}</span>
                        </v-chip>
                    </template>
                </div>
            </v-col>
        </v-row>
        <transition-group class="projects" name="projects" tag="div">
            <div class="project-item col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 pl-0" v-if="project.tags.includes(current_filter) || current_filter === 'All'" v-bind:key="project.id" v-for="project in projects">
                <v-hover v-slot:default="{hover}">
                    <v-card dark tile>
                        <v-img :aspect-ratio="16/9" :src="project.lazy_image">
                            <v-expand-transition>
                                <div v-if="hover" class="d-flex transition-fast-in-fast-out black v-card--reveal" style="height: 100%; opacity: 0.5;">
                                    <v-btn outlined dark small @click="show_overlay(project.id)">
                                        <v-icon small color="white">mdi-arrow-right</v-icon>
                                    </v-btn>
                                </div>
                            </v-expand-transition>
                        </v-img>
                        <v-card-subtitle class="font-type-3 px-3 py-2">{{project.name}}</v-card-subtitle>
                    </v-card>
                </v-hover>
            </div>
        </transition-group>
    </div>
</template>

<style lang="scss" scoped>
    @import '@/scss/_variables.scss';

    .v-card--reveal {
        align-items: center;
        bottom: 0;
        justify-content: center;
        opacity: .5;
        position: absolute;
        width: 100%;
    }

    .overlayed_div {
        background-color: $background;
        margin: 50px;
        padding: 50px;
        position: relative;
        font-size: 1rem;
        max-width: 800px;
    }


    .showcase-content {
        color: $foreground;
        text-align: left;
        padding: 15px;
        width: 100%;
    }

    .close-icon {
        position: absolute;
        top: 5px;
        right: 5px;
    }

    .filter {
        cursor:pointer;
        transition: all 0.35s;
    }

    .filter.active-chip {
        background: red !important;
    }

    .filter:hover {
        background:lightgray;
    }

    .projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .project-item {
        transition: all 0.35s ease-in-out;
    }

    .projects-enter {
        transform: scale(0.5) translatey(-80px);
        opacity:0;
    }

    .projects-leave-to{
        transform: translatey(30px);
        opacity:0;
    }

    .projects-leave-active {
        position: absolute;
        z-index:-1;
    }

    /* sm */
    @media only screen and (min-width: 600px) {
        .showcase-content {
            padding: 25px 25px;
            font-size: 1.1rem;
            letter-spacing: 1px;
            min-height: 100vh;
        }
    }

    /* md */
    @media only screen and (min-width: 960px) {
        .showcase-content {
            padding: 25px 50px;
            font-size: 1.2rem;
            letter-spacing: 1px;
        }
    }

    /* lg */
    @media only screen and (min-width: 1264px) {
        .showcase-content {
            padding: 25px 75px;
            font-size: 1.3rem;
            letter-spacing: 1px;
        }
    }
</style>

<script>
    let _ = require("lodash");
    export default {
        name: 'showcase',
        data: () => ({
            overlay: false,
            current_overlay: 1,
            current_filter: 'All',
            projects : [
                {
                    id: 1,
                    name: 'Attorney Marketing Network',
                    website: "https://www.attorneymarketingnetwork.com/",
                    source: null,
                    description: `A data scraping project. I used Selenium and Scrapy to fetch information about lawyers and law firms from <a href="https://www.lawyers.com/">lawyers.com</a> and <a href="https://www.findlaw.com/">findlaw.com</a>. Contributed to the development of the dashboard using Laravel.`,
                    image: require("@/assets/images/showcase/attorney-marketing-network.png"),
                    lazy_image: require("@/assets/images/showcase/attorney-marketing-network.thumbnail.png"),
                    tags: ["C", "Java", "PHP"]
                },
                {
                    id: 2,
                    name: 'ABC Transparency',
                    website: "https://www.abctransparency.com/",
                    source: null,
                    description: `A data scraping project. I used Selenium and Scrapy to fetch information about lawyers and law firms from <a href="https://www.lawyers.com/">lawyers.com</a> and <a href="https://www.findlaw.com/">findlaw.com</a>. Contributed to the development of the dashboard using Laravel.`,
                    image: require("@/assets/images/showcase/abc-transparency.png"),
                    lazy_image: require("@/assets/images/showcase/abc-transparency.thumbnail.png"),
                    tags: ["PHP", "JavaScript", "Ruby"]
                },
                {
                    id: 3,
                    name: 'Testing My Boundaries',
                    website: "https://www.attorneymarketingnetwork.com/",
                    source: null,
                    description: `A data scraping project. I used Selenium and Scrapy to fetch information about lawyers and law firms from <a href="https://www.lawyers.com/">lawyers.com</a> and <a href="https://www.findlaw.com/">findlaw.com</a>. Contributed to the development of the dashboard using Laravel.`,
                    image: require("@/assets/images/showcase/attorney-marketing-network.png"),
                    lazy_image: require("@/assets/images/showcase/attorney-marketing-network.thumbnail.png"),
                    tags: ["PHP", "Java", "Python", "C"]
                },
                {
                    id: 4,
                    name: 'Out of Bounds',
                    website: "https://www.attorneymarketingnetwork.com/",
                    source: null,
                    description: `A data scraping project. I used Selenium and Scrapy to fetch information about lawyers and law firms from <a href="https://www.lawyers.com/">lawyers.com</a> and <a href="https://www.findlaw.com/">findlaw.com</a>. Contributed to the development of the dashboard using Laravel.`,
                    image: require("@/assets/images/showcase/abc-transparency.png"),
                    lazy_image: require("@/assets/images/showcase/abc-transparency.thumbnail.png"),
                    tags: ["Python", "JavaScript", "Go"]
                },
            ],
        }),
        methods: {
            show_overlay(id) {
                this.current_overlay = id;
                this.overlay = !this.overlay;
            },
            set_filter: function(filter) {
                // event.currentTarget.classList.add('active-chip');
                this.current_filter = filter;
            }
        },
        computed: {
            current_project() {
                let project = _.find(this.projects, {id : this.current_overlay});
                return project;
            },
            all_tags() {
                let tags_arr = _.map(this.projects, 'tags');
                let return_arr = _.union(...tags_arr);
                return_arr.unshift('All');
                return return_arr;
            }
        }
    }
</script>
