<template>
    <div class="skills-content">
        <h1 class="font-type-1">Skills</h1>
<!--        column -->
<!--        <h3 class="font-type-2 yellow&#45;&#45;text text&#45;&#45;lighten-1">Languages</h3>-->
<!--        <div class="linear-progress-container">-->
<!--            <span class="font-type-3">HTML</span>-->
<!--            <v-progress-linear height="5" value="95" color="light-blue accent-1"></v-progress-linear>-->
<!--        </div>-->
        <v-row >
            <template v-for="(subject, index) in informations">
                <v-col v-if="index % 2 === 0" xl="5" lg="5"  md="12" sm="12" xs="12" class="mb-2 mt-2" v-bind:key="index">
                    <h3 class="font-type-2 yellow--text text--lighten-1">{{ subject.name }}</h3>
                    <template v-for="(item, index) in subject.items">
                        <div class="linear-progress-container" v-bind:key="index">
                            <v-row>
                                <v-col xs="6">
                                    <p class="font-type-3 mb-0">{{item.name}}</p>
                                </v-col>
                                <v-col xs="6">
                                    <p class="text-right mb-0">{{item.strength}}%</p>
                                </v-col>
                            </v-row>
                            <v-progress-linear height="5" :value="item.strength" color="light-blue accent-1"></v-progress-linear>
                        </div>
                    </template>
                </v-col>
                <v-col v-else-if="index % 2 != 0" xl="5" lg="5" offset-xl="1" offset-lg="1" md="12" sm="12" xs="12" class="mb-2 mt-2" v-bind:key="index">
                    <h3 class="font-type-2 yellow--text text--lighten-1">{{ subject.name }}</h3>
                    <template v-for="(item, index) in subject.items">
                        <div class="linear-progress-container" v-bind:key="index">
                            <v-row>
                                <v-col xs="6">
                                    <p class="font-type-3 mb-0">{{item.name}}</p>
                                </v-col>
                                <v-col xs="6">
                                    <p class="text-right mb-0">{{item.strength}}%</p>
                                </v-col>
                            </v-row>
                            <v-progress-linear height="5" :value="item.strength" color="light-blue accent-1"></v-progress-linear>
                        </div>
                    </template>
                </v-col>
            </template>
        </v-row>

    </div>
</template>

<style lang="scss" scoped>
    @import '@/scss/_variables.scss';

    .linear-progress-container {
        margin: 15px auto;
    }

    .v-progress-linear {
        margin: 5px auto;
    }

    .skills-content {
        width: 100%;
        color: $foreground;
        text-align: left;
        padding: 25px;
        font-size: .95rem;
        min-height: 100vh;
    }

    @media only screen and (min-width: 600px) {
        .skills-content {
            padding: 25px 25px;
            font-size: 1.1rem;
            letter-spacing: 1px;
        }
    }

    @media only screen and (min-width: 960px) {
        .skills-content {
            padding: 25px 50px;
            font-size: 1.2rem;
            letter-spacing: 1px;
        }
    }

    @media only screen and (min-width: 1264px) {
        .skills-content {
            padding: 25px 75px;
            font-size: 1.3rem;
            letter-spacing: 1px;
        }
    }
</style>

<script>
    export default {
        name: 'skills',
        data() {
            return {
                informations : [
                    {
                        name: 'Languages',
                        items: [{
                            name: 'PHP',
                            strength: 90
                        }, {
                            name: 'JavaScript',
                            strength: 80
                        }, {
                            name: 'HTML',
                            strength: 95
                        }, {
                            name: 'CSS',
                            strength: 90
                        }, {
                            name: 'Python',
                            strength: 50
                        }, {
                            name: 'TypeScript',
                            strength: 50
                        }]
                    },
                    {
                        name: 'Frameworks',
                        items: [{
                            name: 'Laravel',
                            strength: 85
                        }, {
                            name: 'Vue.js',
                            strength: 70
                        }, {
                            name: 'Nest.js',
                            strength: 60
                        }, {
                            name: 'Express.js',
                            strength: 60
                        }, {
                            name: 'Scrapy',
                            strength: 40
                        }]
                    },
                    {
                        name: 'Libraries',
                        items: [{
                            name: 'jQuery',
                            strength: 80
                        }]
                    },
                    {
                        name: 'Preprocessors',
                        items: [{
                            name: 'SASS',
                            strength: 75
                        }]
                    },
                    {
                        name: 'Devtools',
                        items: [{
                            name: 'Gulp',
                            strength: 60
                        }, {
                            name: 'Webpack',
                            strength: 40
                        }]
                    },
                    {
                        name: 'Testing',
                        items: [{
                            name: 'Jest',
                            strength: 35
                        }]
                    }
                ]
            }
        }
    }
</script>
