<template>
    <v-app class="transparent">
        <navigation class="navigation_sidebar" />
        <background />
        <v-content>
            <v-container class="no_margin_padding" fluid fill-height>
                <v-row align="center" justify="center" class="ml-0 mr-0">
                    <transition mode="out-in" @after-enter="afterEnter" @enter="enter" @leave="leave" @before-leave="beforeLeave">
                        <router-view></router-view>
                    </transition>
                </v-row>
                <mobile-menu />
            </v-container>
            <div class="bg" ref="bg">
                <div class="bg-item"></div>
                <div class="bg-item"></div>
                <div class="bg-item"></div>
                <div class="bg-item"></div>
                <div class="bg-item"></div>
                <div class="bg-item"></div>
                <div class="bg-item"></div>
                <div class="bg-item"></div>
                <div class="bg-item"></div>
                <div class="bg-item"></div>
            </div>
        </v-content>
    </v-app>
</template>

<script>
import Navigation from "./Navigation.vue";
import MobileMenu from "./MobileMenu.vue";
import Background from "./Background.vue";
import {TimelineMax} from "gsap/all";
import {ExpoScaleEase} from "gsap/EasePack";

export default {
    name: "App",
    components: {
        Navigation,
        MobileMenu,
        Background
    },
    mounted() {
        this.items = document.querySelectorAll(".bg-item");
    },
    methods: {
        beforeLeave(el) {
            this.$refs.bg.style.zIndex = 100;
        },
        leave(el, done) {
            const tl = new TimelineMax();
            tl.to(this.items, {
                duration: 0.5,
                xPercent: 100,
                ease: ExpoScaleEase.easeIn,
                stagger: {
                    amount: 0.5
                },
                onComplete: done
            });
        },
        enter(el, done) {
            const tl = new TimelineMax();
            tl.to(this.items, {
                duration: 0.5,
                xPercent: -100,
                ease: ExpoScaleEase.easeIn,
                stagger: {
                    amount: 0.5
                },
                onComplete: done
            });
        },
        afterEnter(el) {
            this.$refs.bg.style.zIndex = -101;
        }
    }
}
</script>

<style lang="scss">
    @import "@/scss/_variables.scss";
    @import "@/scss/_custom-font.scss";
    @import "@/scss/app.scss";

    .transparent {
        background-color: transparent !important;
    }

    .bg {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        z-index: -101;
    }

    .bg-item {
        flex: 1;
        background-color: $background !important;
        transform: translateX(-100%);
        margin: 0;
        padding: 0;
    }

    .navigation_sidebar {
        z-index: 101;
    }

    .no_margin_padding {
        padding: 0 !important;
        margin: 0 !important;
    }

    .router-anim-enter-active {
        animation: coming 1s;
        animation-delay: 0.5s;
        opacity: 0;
    }

    .router-anim-leave-active {
        animation: going 1s;
    }

    @keyframes going {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-50px);
            opacity: 0;
        }
    }

    @keyframes coming {
        from {
            transform: translateX(-50px);
            opacity: 0;
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }
</style>
