<template>
    <div class="background hidden-sm-and-down">
        <div class="video-overlay"></div>
        <video :poster="bg_poster" id="videoBG" autoplay muted loop>
            <source :src="bg_video" type="video/mp4">
        </video>
    </div>
</template>

<script>
    export default {
        name: "background",
        data () {
            return {
                bg_video : require("@/assets/videos/background.mp4"),
                bg_poster: require("@/assets/images/background-video-poster.jpg"),
            }
        }
    }
</script>

<style lang="scss" scoped>
    #videoBG {
        position: fixed;
        z-index: -99;
        width: auto;
        height: 100%;
        object-fit: cover;
    }

    .background .video-overlay {
        width: 100%;
        height: 100%;
        background-color: rgba(40, 40, 40, 0.6);
        z-index: -98;
        position: absolute;
        top: 0;
        left: 0;
    }

    @media (min-aspect-ratio: 16/9) {
        #videoBG {
            width: 100%;
            height: auto;
        }
    }

    @media (max-aspect-ratio: 16/9) {
        #videoBG {
            width: auto;
            height: 100%;
        }
    }
</style>
