<template>
    <div>
        <div class="text-center">
            <v-menu top offset-y transition="scroll-y-reverse-transition">
                <template v-slot:activator="{ on }">
                    <v-btn small bottom right fab fixed v-on="on" class="hidden-md-and-up">
                        <v-icon>mdi-menu</v-icon>
                    </v-btn>
                </template>
                <v-list width="200" dark class="text-center">
                    <v-list-item v-for="(item, index) in items" :key="index" :to="item.link" link exact>
                        <v-list-item-title>{{ item.title }}</v-list-item-title>
                    </v-list-item>
                </v-list>
            </v-menu>
        </div>
    </div>
</template>

<script>
    export default {
        name: "mobile-menu",
        data () {
            return {
                items: [
                    { title: 'Home', link: '/' },
                    { title: 'About', link: '/about' },
                    { title: 'Skills', link: '/skills' },
                    { title: 'Experience', link: '/experience' },
                    { title: 'Showcase', link: '/showcase' },
                    { title: 'Contact', link: '/contact' }
                ]
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "../scss/_variables.scss";
    @import "../scss/_custom-font.scss";
</style>
