<template>
    <v-navigation-drawer class="nav_drawer" mobile-break-point="960" app>
        <v-img :src="dp" :lazy-src="dp_lazy" aspect-ratio="1/1" class="grey lighten-2">
            <template v-slot:placeholder>
                <v-row class="fill-height ma-0" align="center" justify="center">
                    <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                </v-row>
            </template>
        </v-img>
        <div class="sidebar-name mt-5">Tanvir Sohan</div>
        <div class="sidebar-post subtitle-1">Web application developer</div>
        <div class="sidebar-country caption">From Bangladesh</div>

        <div class="mt-5"></div>
        <v-divider></v-divider>
        <div class="mb-5"></div>

        <v-list dense nav class="text-left" dark>
            <v-list-item v-for="item in items" :key="item.title" :to="item.link" link exact>
                <v-list-item-icon>
                    <v-icon>{{ item.icon }}</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list>

        <div class="mt-5"></div>
        <v-divider></v-divider>
        <div class="mb-5"></div>

        <div class="copyright subtitle-2 mb-5">&copy; Tanvir Sohan 2020</div>
    </v-navigation-drawer>
</template>

<script>
    export default {
        name: "navigation",
        data () {
            return {
                dp: require("@/assets/images/tanvirsohan.jpg"),
                dp_lazy: require("@/assets/images/tanvirsohan.thumbnail.jpg"),
                items: [
                    { title: 'Home', icon: 'icon-home', link: '/' },
                    { title: 'About', icon: 'icon-about', link: '/about' },
                    { title: 'Skills', icon: 'icon-skills', link: '/skills' },
                    { title: 'Experience', icon: 'mdi-briefcase', link: '/experience' },
                    { title: 'Showcase', icon: 'icon-portfolio', link: '/showcase' },
                    { title: 'Contact', icon: 'icon-contact', link: '/contact' }
                ]
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "../scss/_variables.scss";
    @import "../scss/_custom-font.scss";

    .nav_drawer {
        background-color: $background !important;
        color: $foreground !important;
        text-align: center !important;

        .sidebar-name {
            font-weight: 400;
            font-size: 1.75rem;
            color: $highlights-2;
        }

        .sidebar-post {
            color: $highlights-1;
        }

        .divider {
            border-bottom: 2px solid rgba(248,248,248,0.1);
            width: 100%;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
</style>
