// CUSTOM ICON FONTS
@font-face {
    font-family: 'icomoon';
    src:  url('../assets/fonts/icomoon.eot?rqv138');
    src:  url('../assets/fonts/icomoon.eot?rqv138#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?rqv138') format('truetype'),
    url('../assets/fonts/icomoon.woff?rqv138') format('woff'),
    url('../assets/fonts/icomoon.svg?rqv138#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-download:before {
    content: "\e918";
}
.icon-about:before {
    content: "\e90f";
}
.icon-blog:before {
    content: "\e910";
}
.icon-contact:before {
    content: "\e911";
}
.icon-education:before {
    content: "\e912";
}
.icon-home:before {
    content: "\e913";
}
.icon-portfolio:before {
    content: "\e914";
}
.icon-services:before {
    content: "\e915";
}
.icon-skills:before {
    content: "\e916";
}
.icon-work:before {
    content: "\e917";
}
.icon-bitbucket:before {
    content: "\e900";
    color: #0052cc;
}
.icon-css:before {
    content: "\e906";
    color: #1572b6;
}
.icon-facebook:before {
    content: "\e901";
    color: #1877f2;
}
.icon-github:before {
    content: "\e902";
    color: white;
}
.icon-html:before {
    content: "\e907";
    color: #e34f26;
}
.icon-laravel:before {
    content: "\e908";
    color: #ff2d20;
}
.icon-linkedin:before {
    content: "\e903";
    color: #0077b5;
}
.icon-mongodb:before {
    content: "\e909";
    color: #47a248;
}
.icon-mysql:before {
    content: "\e90a";
    color: #4479a1;
}
.icon-nodejs:before {
    content: "\e90b";
    color: #393;
}
.icon-php:before {
    content: "\e90c";
    color: #777bb4;
}
.icon-sass:before {
    content: "\e90d";
    color: #c69;
}
.icon-skype:before {
    content: "\e904";
    color: #00aff0;
}
.icon-upwork:before {
    content: "\e905";
    color: #6fda44;
}
.icon-vuejs:before {
    content: "\e90e";
    color: #4fc08d;
}
