@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,400i|Quicksand:300,400,700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css');


html {
    //overflow-y: auto !important;
}

body {
    font-family: Quicksand, sans-serif !important;
    z-index: -100 !important;
    color: $foreground !important;
    background-image: url('/src/assets/images/background.jpg') !important;
    background-repeat: repeat;
    background-color: $background !important;
    line-height: 160% !important;
    font-size: 14px !important;
    font-weight: 400 !important;
}

.page {
    position: fixed;
    width: 100%;
}

.font-type-1 {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: italic;
}

.font-type-2 {
    font-family: Quicksand, sans-serif;
    font-weight: 300;
}

.font-type-3 {
    font-family: Quicksand, sans-serif;
    font-weight: 400;
}

.font-type-4 {
    font-family: Quicksand, sans-serif;
    font-weight: 700;
}

a {
    text-decoration: none;
}

@media only screen and (min-width: 960px) {
    body {
        background-image: url('/src/assets/images/background-video-poster.jpg') !important;
    }
}

.highlights-1 {
    color: $highlights-1;
}

.highlights-2 {
    color: $highlights-2;
}
